.footer{
	background: #000415;
	padding-top: 80px;
}
.footer .content{
	padding-top: 46px;
	padding-right: 100px;
	padding-bottom: 70px;
	border-right: 1px solid #fff;
	text-align: right;
	color: #fff;
}
.footer .content p{
	padding-top: 18px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 10px;
	color: #fff;
	text-transform: uppercase;
}
.footer .second-content{
	padding-top: 10px;
	padding-left: 100px;
	padding-bottom: 50px;
	border-right: 1px solid transparent;
}
.footer .second-content .icon{
	padding-right: 20px;
}
.footer .second-content p{
	font-weight: 400;
	font-size: 14px;
	color: #fff;
}
.footer .footer-last-section span{
	font-size: 14px;
	color: #fff;
}